.App {
  max-width: 1150px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 검색 라인 */
.search-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location-select-wrap {
  position: relative;
}
.location-select-wrap.active .btn-location-select {
  border-color: rgb(75,105,219)!important;
}
.btn-location-select {
  height: 46px;
  width:  200px;
  padding: 0 10px!important;
  background-color: rgb(250,250,250)!important;
  border: 1px solid rgb(236,236,236)!important;
  border-radius: 5px!important;
}
.location-select-wrap .popup {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  z-index: 99;
  width: 200px;
  background-color: #fff;
}
.location-select-wrap .popup-card  {
  padding-bottom: 10px;
}
.location-select-wrap .popup-card .btn {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  justify-content: flex-start;
}
.location-select-wrap .popup-card .btn.active {
  background-color: rgb(237, 244, 251)!important;
}
.location-select-wrap .popup-card .icon-star {
  color: rgb(255,204,0);
  width: 18px;
  margin-right: 5px;
  display: inline-block;
}

/* 로케이션 이름 정보 */
.location-wrap {
  position: relative;
  padding: 6px 10px;
  background-color: rgb(228,228,228);
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
.location-wrap.active {
  background-color: rgb(0,145,255);
}
.location-wrap .icon {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* 로봇정보 */
.robot-wrap {
  vertical-align: middle;
}
.robot-wrap .link {
  color: rgb(107, 135, 255);
  cursor: pointer;
  text-decoration: underline;
}

.robot-wrap.active {
  vertical-align: middle;
  font-weight: bold;
}
.robot-wrap.active::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: rgb(0, 209,94);
  margin-right: 12px;
  border-radius: 50%;
}

/* 북마크 버튼 */
.btn-star {
  width: 100%;
  height: 35px;
}

.btn-star.active {
  color: rgb(255,204,0);
}

.MuiDataGrid-columnHeader {
  background-color: #fff!important;
}